.cadastro2-cadastro {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  z-index: 200;
  position: fixed;
  align-items: center;
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  flex-direction: column;
  backdrop-filter: blur(4px);
  justify-content: center;
}
.cadastro2-nova-turma {
  top: 0px;
  left: 0px;
  right: 0px;
  width: 70%;
  bottom: 0px;
  height: 90%;
  margin: auto;
  display: flex;
  padding: var(--dl-space-space-oneandhalfunits);
  position: absolute;
  box-shadow: 0px 0px 25px -2px rgba(66, 68, 90, 0.4);
  align-items: center;
  border-radius: 12px;
  flex-direction: column;
  justify-content: center;
  background-color: #ffffff;
}
.cadastro2-container {
  width: 90%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 90%;
  display: flex;
  position: relative;
  justify-content: center;
}
.cadastro2-container01 {
  display: flex;
  position: relative;
}
.cadastro2-form {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.cadastro2-container02 {
  width: 100%;
  height: 59px;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  justify-content: center;
}
.cadastro2-container03 {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.cadastro2-container04 {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.cadastro2-text1 {
  color: rgb(124, 116, 116);
  font-family: Noto Sans;
}
.cadastro2-container05 {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.cadastro2-container06 {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.cadastro2-container07 {
  width: 100%;
  height: 100px;
  display: flex;
  align-self: center;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.cadastro2-container08 {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.cadastro2-text2 {
  margin-top: var(--dl-space-space-halfunit);
}
.cadastro2-container09 {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.cadastro2-text3 {
  margin-top: var(--dl-space-space-halfunit);
}
