.cadastro02-container {
  display: flex;
  position: relative;
}
.cadastro02-form {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.cadastro02-container1 {
  width: 100%;
  height: 59px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.cadastro02-container2 {
  width: 100%;
  height: 146px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.cadastro02-container3 {
  width: 100%;
  height: 146px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.cadastro02-text1 {
  color: #000000;
  font-family: Noto Sans;
  margin-bottom: var(--dl-space-space-unit);
}
.cadastro02-container4 {
  gap: var(--dl-space-space-threeunits);
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cadastro02-select {
  width: 161px;
  height: 25px;
  background-color: #ffffff;
}

.cadastro02-select1 {
  align-self: center;
  background-color: #ffffff;
}

.cadastro02-container5 {
  flex: 0 0 auto;
  width: 200px;
  height: 100%;
  display: flex;
  align-self: center;
  align-items: center;
  margin-left: var(--dl-space-space-unit);
  justify-content: center;
}
.cadastro02-textinput1 {
  width: 80px;
}
.cadastro02-textinput2 {
  width: 80px;
}
.cadastro02-textinput3 {
  width: 80px;
}
.cadastro02-textinput4 {
  width: 80px;
}
.cadastro02-text3 {
  color: rgb(0, 0, 0);
  font-family: Noto Sans;
  margin-bottom: var(--dl-space-space-unit);
}

.cadastro02-text5 {
  color: rgb(0, 0, 0);
  font-family: Noto Sans;
  margin-bottom: var(--dl-space-space-twounits);
}

.cadastro02-button {
  width: 30px;
  height: 30px;
  padding: var(--dl-space-space-halfunit);
  align-self: center;
  align-items: center;
  padding-top: 0px;
  border-color: var(--dl-color-gray-black);
  border-width: 2px;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  justify-content: center;
}
.cadastro02-container6 {
  width: 100%;
  height: 149px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.cadastro02-textinput5 {
  width: 482px;
  height: 48px;
  align-self: center;
  text-align: center;
  transition: 0.3s;
  font-family: Noto Sans;
  border-color: rgba(180, 185, 185, 0.45);
  border-style: ridge;
  border-width: 0px;
  border-bottom-width: 2px;
}

.cadastro02-container7 {
  width: 100%;
  height: 155px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.cadastro02-container8 {
  width: 100%;
  height: 146px;
  display: flex;
  align-self: flex-end;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.cadastro02-textinput6 {
  width: 476px;
  height: 44px;
  text-align: center;
  border-color: rgba(180, 185, 185, 0.45);
  border-style: ridge;
  border-width: 0px;
  border-bottom-width: 2px;
}

.cadastro02-container9 {
  gap: var(--dl-space-space-threeunits);
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-self: flex-end;
  align-items: center;
  justify-content: flex-end;
}

.cadastro02-container12 {
  width: 100%;
  height: 139px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}