.cadastro1-cadastro {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  z-index: 200;
  position: fixed;
  align-items: center;
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  flex-direction: column;
  backdrop-filter: blur(4px);
  justify-content: center;
}
.cadastro1-nova-turma {
  top: 0px;
  left: 0px;
  right: 0px;
  width: 70%;
  bottom: 0px;
  height: 90%;
  margin: auto;
  display: flex;
  padding: var(--dl-space-space-oneandhalfunits);
  position: absolute;
  box-shadow: 0px 0px 25px -2px rgba(66, 68, 90, 0.4);
  align-items: center;
  border-radius: 12px;
  flex-direction: column;
  justify-content: center;
  background-color: #ffffff;
}
.cadastro1-container {
  width: 90%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 90%;
  display: flex;
  position: relative;
  justify-content: center;
}
