.component-container {
  width: 90%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 90%;
  display: flex;
  position: relative;
  justify-content: center;
}
.component-container01 {
  display: flex;
  position: relative;
}
.component-form {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.component-container02 {
  width: 100%;
  height: 59px;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  justify-content: center;
}
.component-container03 {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.component-container04 {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.component-text1 {
  color: rgb(124, 116, 116);
  font-family: Noto Sans;
}
.component-container05 {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.component-container06 {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.component-container07 {
  width: 100%;
  height: 100px;
  display: flex;
  align-self: center;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.component-container08 {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.component-text2 {
  margin-top: var(--dl-space-space-halfunit);
}
.component-container09 {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.component-text3 {
  margin-top: var(--dl-space-space-halfunit);
}
