.alunos-cadastro-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  scroll-behavior: smooth;
}
.alunos-cadastro-cadastro {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  z-index: 200;
  position: fixed;
  align-items: center;
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  flex-direction: column;
  backdrop-filter: blur(4px);
  justify-content: center;
}
.alunos-cadastro-nova-turma {
  top: 0px;
  left: 0px;
  right: 0px;
  width: 70%;
  bottom: 0px;
  height: 90%;
  margin: auto;
  display: flex;
  padding: var(--dl-space-space-oneandhalfunits);
  position: absolute;
  box-shadow: 0px 0px 25px -2px rgba(66, 68, 90, 0.4);
  align-items: center;
  border-radius: 12px;
  flex-direction: column;
  justify-content: center;
  background-color: #ffffff;
}
.alunos-cadastro-container01 {
  width: 90%;
  height: 90%;
  display: flex;
  position: relative;
  justify-content: center;
}
.alunos-cadastro-container02 {
  display: flex;
  position: relative;
}
.alunos-cadastro-form {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.alunos-cadastro-container03 {
  width: 100%;
  height: 59px;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  justify-content: center;
}
.alunos-cadastro-container04 {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.alunos-cadastro-container05 {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.alunos-cadastro-text01 {
  color: rgb(124, 116, 116);
  font-family: Noto Sans;
}
.alunos-cadastro-container06 {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.alunos-cadastro-container07 {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.alunos-cadastro-container08 {
  width: 100%;
  height: 100px;
  display: flex;
  align-self: center;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.alunos-cadastro-container09 {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.alunos-cadastro-text02 {
  margin-top: var(--dl-space-space-halfunit);
}
.alunos-cadastro-container10 {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.alunos-cadastro-text03 {
  margin-top: var(--dl-space-space-halfunit);
}
.alunos-cadastro-hero {
  width: 100%;
  height: 1018px;
  display: flex;
  position: relative;
  align-items: center;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  flex-direction: column;
}
.alunos-cadastro-container11 {
  top: 214px;
  left: 0px;
  right: 0px;
  width: 860px;
  height: 741px;
  display: flex;
  position: absolute;
  margin-top: auto;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0px;
  margin-bottom: auto;
  flex-direction: row;
  justify-content: flex-start;
}
.alunos-cadastro-container12 {
  width: 264px;
  height: 100%;
  display: flex;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  background-color: rgba(217, 217, 217, 0.29);
}
.alunos-cadastro-container13 {
  width: 100%;
  height: 77px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.alunos-cadastro-container14 {
  width: 100%;
  height: 698px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.alunos-cadastro-container15 {
  width: 100%;
  height: 91px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.alunos-cadastro-textinput04 {
  width: 238px;
  height: 40px;
  align-self: center;
  text-align: center;
  border-color: rgba(131, 127, 127, 0.43);
  border-style: ridge;
}
.alunos-cadastro-container16 {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.alunos-cadastro-container17 {
  width: 100%;
  height: 93px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.alunos-cadastro-container18 {
  width: 100%;
  height: 33px;
  display: flex;
  align-items: center;
  padding-top: 0px;
  padding-left: 00px;
  padding-right: 00px;
  flex-direction: column;
  padding-bottom: 0px;
  justify-content: flex-start;
}
.alunos-cadastro-text10 {
  font-size: 16px;
}
.alunos-cadastro-container19 {
  width: 100%;
  height: 63px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.alunos-cadastro-thq-dropdown {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.alunos-cadastro-dropdown-list {
  left: 0%;
  width: max-content;
  display: none;
  z-index: 100;
  position: absolute;
  min-width: 100%;
  transition: 0.3s;
  align-items: stretch;
  border-color: #D9D9D9;
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
  list-style-type: none;
  background-color: var(--dl-color-gray-white);
  list-style-position: inside;
}
.alunos-cadastro-dropdown {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.alunos-cadastro-dropdown-toggle {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.alunos-cadastro-dropdown-toggle:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.alunos-cadastro-text11 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.alunos-cadastro-dropdown1 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.alunos-cadastro-dropdown-toggle1 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.alunos-cadastro-dropdown-toggle1:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.alunos-cadastro-dropdown2 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.alunos-cadastro-dropdown-toggle2 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.alunos-cadastro-dropdown-toggle2:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.alunos-cadastro-text12 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.alunos-cadastro-dropdown3 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.alunos-cadastro-dropdown-toggle3 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.alunos-cadastro-dropdown-toggle3:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.alunos-cadastro-text13 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.alunos-cadastro-dropdown4 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.alunos-cadastro-dropdown-toggle4 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.alunos-cadastro-dropdown-toggle4:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.alunos-cadastro-text14 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.alunos-cadastro-textinput05 {
  width: 238px;
  height: 40px;
  align-self: center;
  text-align: center;
  border-color: rgba(131, 127, 127, 0.43);
  border-style: ridge;
}
.alunos-cadastro-container20 {
  width: 100%;
  height: 255px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.alunos-cadastro-container21 {
  width: 100%;
  height: 30px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.alunos-cadastro-text15 {
  font-size: 16px;
}
.alunos-cadastro-container22 {
  width: 100%;
  height: 197px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.alunos-cadastro-text16 {
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
}
.alunos-cadastro-container24 {
  width: 100%;
  height: 30px;
  display: flex;
  flex-direction: row;
}
.alunos-cadastro-text17 {
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
}
.alunos-cadastro-container25 {
  width: 100%;
  height: 30px;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.alunos-cadastro-text18 {
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
}
.alunos-cadastro-container26 {
  width: 100%;
  height: 30px;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.alunos-cadastro-text19 {
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
}
.alunos-cadastro-container27 {
  width: 100%;
  height: 30px;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.alunos-cadastro-text20 {
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
}
.alunos-cadastro-container28 {
  width: 100%;
  height: 30px;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.alunos-cadastro-text21 {
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
}
.alunos-cadastro-container29 {
  width: 100%;
  height: 30px;
  display: flex;
  align-self: center;
  align-items: center;
}
.alunos-cadastro-text22 {
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
}
.alunos-cadastro-container30 {
  width: 100%;
  height: 30px;
  display: flex;
  align-self: center;
  align-items: center;
}
.alunos-cadastro-text23 {
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
}
.alunos-cadastro-container31 {
  width: 100%;
  height: 79px;
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: column;
}
.alunos-cadastro-container32 {
  width: 100%;
  height: 30px;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-halfunit);
  flex-direction: column;
  justify-content: center;
}
.alunos-cadastro-text24 {
  font-size: 16px;
}
.alunos-cadastro-container33 {
  width: 100%;
  height: 38px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.alunos-cadastro-select {
  width: 238px;
  height: 40px;
}
.alunos-cadastro-container34 {
  width: 100%;
  height: 172px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.alunos-cadastro-container35 {
  width: 100%;
  height: 64px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.alunos-cadastro-button1 {
  opacity: 0.5;
}
.alunos-cadastro-container36 {
  width: 603px;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.alunos-cadastro-container37 {
  width: 100%;
  height: 72px;
  display: flex;
  opacity: 0.5;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.alunos-cadastro-container38 {
  flex: 0 0 auto;
  width: 100%;
  height: 674px;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  border-color: rgba(120, 120, 120, 0);
  border-style: dashed;
  border-width: 2px;
  padding-left: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-halfunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-halfunit);
  justify-content: center;
}
.alunos-cadastro-container39 {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  justify-content: center;
}
.alunos-cadastro-form1 {
  width: 80%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.alunos-cadastro-container40 {
  width: 100%;
  height: 59px;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  justify-content: center;
}
.alunos-cadastro-container41 {
  width: 80%;
  height: 100px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.alunos-cadastro-textinput06 {
  width: 80%;
}
.alunos-cadastro-container42 {
  width: 80%;
  height: 100px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.alunos-cadastro-text29 {
  color: rgb(124, 116, 116);
  font-family: Noto Sans;
}
.alunos-cadastro-textinput07 {
  width: 60%;
}
.alunos-cadastro-container43 {
  width: 80%;
  height: 100px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.alunos-cadastro-textinput08 {
  width: 80%;
}
.alunos-cadastro-container44 {
  width: 80%;
  height: 100px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.alunos-cadastro-textinput09 {
  width: 80%;
}
.alunos-cadastro-container45 {
  width: 80%;
  height: 100px;
  display: flex;
  align-self: center;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.alunos-cadastro-container46 {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.alunos-cadastro-text30 {
  margin-top: var(--dl-space-space-halfunit);
}
.alunos-cadastro-container47 {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.alunos-cadastro-text31 {
  margin-top: var(--dl-space-space-halfunit);
}
.alunos-cadastro-navbar {
  width: 100%;
  display: flex;
  z-index: 100;
  max-width: 1440px;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  padding-bottom: var(--dl-space-space-unit);
  justify-content: center;
}
.alunos-cadastro-left {
  gap: var(--dl-space-space-twounits);
  display: flex;
  align-items: center;
  justify-content: center;
}
.alunos-cadastro-links {
  gap: var(--dl-space-space-oneandhalfunits);
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
}
.alunos-cadastro-right {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.alunos-cadastro-burger-menu {
  display: none;
  align-items: center;
  justify-content: center;
}
.alunos-cadastro-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.alunos-cadastro-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 1000;
  position: fixed;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.alunos-cadastro-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.alunos-cadastro-container48 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.alunos-cadastro-image {
  height: 2rem;
}
.alunos-cadastro-menu-close {
  display: flex;
  align-items: center;
  justify-content: center;
}
.alunos-cadastro-icon02 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.alunos-cadastro-nav1 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.alunos-cadastro-text35 {
  margin-bottom: var(--dl-space-space-unit);
}
.alunos-cadastro-text36 {
  margin-bottom: var(--dl-space-space-unit);
}
.alunos-cadastro-text37 {
  margin-bottom: var(--dl-space-space-unit);
}
.alunos-cadastro-text38 {
  margin-bottom: var(--dl-space-space-unit);
}
.alunos-cadastro-book {
  text-decoration: none;
}
.alunos-cadastro-image1 {
  width: 18px;
  object-fit: cover;
}
.alunos-cadastro-text39 {
  font-family: Inter;
}
.alunos-cadastro-image2 {
  width: 128px;
  height: 117px;
}
.alunos-cadastro-nav2 {
  display: flex;
}
.alunos-cadastro-btn-group {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.alunos-cadastro-login {
  border-width: 0px;
  margin-right: var(--dl-space-space-twounits);
}
.alunos-cadastro-burger-menu1 {
  display: none;
}
.alunos-cadastro-icon04 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.alunos-cadastro-mobile-menu1 {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.alunos-cadastro-nav3 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.alunos-cadastro-container49 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.alunos-cadastro-image3 {
  height: 2rem;
}
.alunos-cadastro-menu-close1 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.alunos-cadastro-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.alunos-cadastro-icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.alunos-cadastro-icon10 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.alunos-cadastro-icon12 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.alunos-cadastro-footer {
  width: 100%;
  height: 274px;
  display: flex;
  align-items: center;
  padding-top: 120px;
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-fiveunits);
  justify-content: space-between;
  background-color: #000000;
}
.alunos-cadastro-left1 {
  gap: var(--dl-space-space-threeunits);
  display: flex;
  align-items: flex-start;
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
}
.alunos-cadastro-brand {
  gap: var(--dl-space-space-unit);
  display: flex;
  max-width: 400px;
  align-items: flex-start;
  flex-direction: column;
}
.alunos-cadastro-image4 {
  width: 245px;
  height: 201px;
  object-fit: cover;
}
.alunos-cadastro-legal {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.alunos-cadastro-text43 {
  color: rgb(255, 255, 255);
  font-size: 14px;
  line-height: 21px;
}
.alunos-cadastro-legal1 {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  display: none;
  align-items: flex-start;
  flex-direction: row;
}
.alunos-cadastro-row {
  display: flex;
}
.alunos-cadastro-copyright2 {
  color: rgb(255, 255, 255);
  font-size: 12px;
}
@media(max-width: 991px) {
  .alunos-cadastro-hero {
    flex: 1;
    height: 0px;
  }
  .alunos-cadastro-navbar {
    z-index: 1000;
  }
  .alunos-cadastro-links {
    display: none;
  }
  .alunos-cadastro-right {
    display: none;
  }
  .alunos-cadastro-burger-menu {
    display: flex;
    padding: var(--dl-space-space-unit);
    border-radius: var(--dl-radius-radius-round);
    background-color: #2461FF;
  }
  .alunos-cadastro-icon {
    fill: white;
  }
  .alunos-cadastro-footer {
    gap: 100px;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
  }
  .alunos-cadastro-left1 {
    padding-right: 0px;
  }
  .alunos-cadastro-legal {
    display: none;
  }
  .alunos-cadastro-legal1 {
    gap: var(--dl-space-space-twounits);
    display: flex;
    flex-direction: column;
  }
  .alunos-cadastro-row {
    gap: var(--dl-space-space-oneandhalfunits);
  }
}
@media(max-width: 767px) {
  .alunos-cadastro-navbar {
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
    padding-bottom: var(--dl-space-space-unit);
  }
  .alunos-cadastro-burger-menu {
    display: flex;
  }
  .alunos-cadastro-nav2 {
    display: none;
  }
  .alunos-cadastro-btn-group {
    display: none;
  }
  .alunos-cadastro-burger-menu1 {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .alunos-cadastro-footer {
    padding-top: var(--dl-space-space-fourunits);
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
    padding-bottom: var(--dl-space-space-threeunits);
  }
  .alunos-cadastro-image4 {
    width: 110px;
  }
  .alunos-cadastro-text43 {
    font-size: 12px;
    line-height: 18px;
  }
}
@media(max-width: 479px) {
  .alunos-cadastro-navbar {
    padding: var(--dl-space-space-unit);
  }
  .alunos-cadastro-mobile-menu {
    padding: 16px;
  }
  .alunos-cadastro-mobile-menu1 {
    padding: 16px;
  }
}
