.alunos-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  scroll-behavior: smooth;
}
.alunos-hero {
  width: 100%;
  height: 1018px;
  display: flex;
  position: relative;
  align-items: center;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  flex-direction: column;
}
.alunos-container01 {
  top: 214px;
  left: 0px;
  right: 0px;
  width: 860px;
  height: 741px;
  display: flex;
  position: absolute;
  margin-top: auto;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0px;
  margin-bottom: auto;
  flex-direction: row;
  justify-content: flex-start;
}
.alunos-container02 {
  width: 264px;
  height: 100%;
  display: flex;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  background-color: rgba(217, 217, 217, 0.29);
}
.alunos-container03 {
  width: 100%;
  height: 77px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.alunos-container04 {
  width: 100%;
  height: 698px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.alunos-container05 {
  width: 100%;
  height: 91px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.alunos-textinput {
  width: 238px;
  height: 40px;
  align-self: center;
  text-align: center;
  border-color: rgba(131, 127, 127, 0.43);
  border-style: ridge;
}
.alunos-container06 {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.alunos-container07 {
  width: 100%;
  height: 93px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.alunos-container08 {
  width: 100%;
  height: 33px;
  display: flex;
  align-items: center;
  padding-top: 0px;
  padding-left: 00px;
  padding-right: 00px;
  flex-direction: column;
  padding-bottom: 0px;
  justify-content: flex-start;
}
.alunos-text03 {
  font-size: 16px;
}
.alunos-container09 {
  width: 100%;
  height: 63px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.alunos-thq-dropdown {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.alunos-dropdown-list {
  left: 0%;
  width: max-content;
  display: none;
  z-index: 100;
  position: absolute;
  min-width: 100%;
  transition: 0.3s;
  align-items: stretch;
  border-color: #D9D9D9;
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
  list-style-type: none;
  background-color: var(--dl-color-gray-white);
  list-style-position: inside;
}
.alunos-dropdown {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.alunos-dropdown-toggle {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.alunos-dropdown-toggle:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.alunos-text04 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.alunos-dropdown1 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.alunos-dropdown-toggle1 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.alunos-dropdown-toggle1:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.alunos-dropdown2 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.alunos-dropdown-toggle2 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.alunos-dropdown-toggle2:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.alunos-text05 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.alunos-dropdown3 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.alunos-dropdown-toggle3 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.alunos-dropdown-toggle3:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.alunos-text06 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.alunos-dropdown4 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.alunos-dropdown-toggle4 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.alunos-dropdown-toggle4:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.alunos-text07 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.alunos-textinput1 {
  width: 238px;
  height: 40px;
  align-self: center;
  text-align: center;
  border-color: rgba(131, 127, 127, 0.43);
  border-style: ridge;
}
.alunos-container10 {
  width: 100%;
  height: 255px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.alunos-container11 {
  width: 100%;
  height: 30px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.alunos-text08 {
  font-size: 16px;
}
.alunos-container12 {
  width: 100%;
  height: 197px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.alunos-text09 {
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
}
.alunos-container14 {
  width: 100%;
  height: 30px;
  display: flex;
  flex-direction: row;
}
.alunos-text10 {
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
}
.alunos-container15 {
  width: 100%;
  height: 30px;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.alunos-text11 {
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
}
.alunos-container16 {
  width: 100%;
  height: 30px;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.alunos-text12 {
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
}
.alunos-container17 {
  width: 100%;
  height: 30px;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.alunos-text13 {
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
}
.alunos-container18 {
  width: 100%;
  height: 30px;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.alunos-text14 {
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
}
.alunos-container19 {
  width: 100%;
  height: 30px;
  display: flex;
  align-self: center;
  align-items: center;
}
.alunos-text15 {
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
}
.alunos-container20 {
  width: 100%;
  height: 30px;
  display: flex;
  align-self: center;
  align-items: center;
}
.alunos-text16 {
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
}
.alunos-container21 {
  width: 100%;
  height: 79px;
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: column;
}
.alunos-container22 {
  width: 100%;
  height: 30px;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-halfunit);
  flex-direction: column;
  justify-content: center;
}
.alunos-text17 {
  font-size: 16px;
}
.alunos-container23 {
  width: 100%;
  height: 38px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.alunos-select {
  width: 238px;
  height: 40px;
}
.alunos-container24 {
  width: 100%;
  height: 172px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.alunos-container25 {
  width: 100%;
  height: 64px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.alunos-container26 {
  width: 603px;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.alunos-container27 {
  width: 100%;
  height: 72px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.alunos-container28 {
  flex: 0 0 auto;
  width: 100%;
  height: 674px;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  border-color: rgba(120, 120, 120, 0);
  border-style: dashed;
  border-width: 2px;
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: center;
}
.alunos-thq-dropdown1 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.alunos-dropdown-list1 {
  left: 0%;
  width: max-content;
  display: none;
  z-index: 100;
  position: absolute;
  min-width: 100%;
  transition: 0.3s;
  align-items: stretch;
  border-color: #D9D9D9;
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
  list-style-type: none;
  background-color: var(--dl-color-gray-white);
  list-style-position: inside;
}
.alunos-dropdown5 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.alunos-dropdown-toggle5 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.alunos-dropdown-toggle5:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.alunos-text21 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.alunos-dropdown6 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.alunos-dropdown-toggle6 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.alunos-dropdown-toggle6:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.alunos-text22 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.alunos-dropdown7 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.alunos-dropdown-toggle7 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.alunos-dropdown-toggle7:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.alunos-text23 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.alunos-navbar {
  width: 100%;
  display: flex;
  z-index: 100;
  max-width: 1440px;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  padding-bottom: var(--dl-space-space-unit);
  justify-content: center;
}
.alunos-left {
  gap: var(--dl-space-space-twounits);
  display: flex;
  align-items: center;
  justify-content: center;
}
.alunos-links {
  gap: var(--dl-space-space-oneandhalfunits);
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
}
.alunos-right {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.alunos-burger-menu {
  display: none;
  align-items: center;
  justify-content: center;
}
.alunos-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.alunos-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 1000;
  position: fixed;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.alunos-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.alunos-container29 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.alunos-image {
  height: 2rem;
}
.alunos-menu-close {
  display: flex;
  align-items: center;
  justify-content: center;
}
.alunos-icon02 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.alunos-nav1 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.alunos-text24 {
  margin-bottom: var(--dl-space-space-unit);
}
.alunos-text25 {
  margin-bottom: var(--dl-space-space-unit);
}
.alunos-text26 {
  margin-bottom: var(--dl-space-space-unit);
}
.alunos-text27 {
  margin-bottom: var(--dl-space-space-unit);
}
.alunos-book {
  text-decoration: none;
}
.alunos-image1 {
  width: 18px;
  object-fit: cover;
}
.alunos-text28 {
  font-family: Inter;
}
.alunos-image2 {
  width: 128px;
  height: 117px;
}
.alunos-nav2 {
  display: flex;
}
.alunos-btn-group {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.alunos-login {
  border-width: 0px;
  margin-right: var(--dl-space-space-twounits);
}
.alunos-burger-menu1 {
  display: none;
}
.alunos-icon04 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.alunos-mobile-menu1 {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.alunos-nav3 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.alunos-container30 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.alunos-image3 {
  height: 2rem;
}
.alunos-menu-close1 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.alunos-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.alunos-icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.alunos-icon10 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.alunos-icon12 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.alunos-footer {
  width: 100%;
  height: 274px;
  display: flex;
  align-items: center;
  padding-top: 120px;
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-fiveunits);
  justify-content: space-between;
  background-color: #000000;
}
.alunos-left1 {
  gap: var(--dl-space-space-threeunits);
  display: flex;
  align-items: flex-start;
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
}
.alunos-brand {
  gap: var(--dl-space-space-unit);
  display: flex;
  max-width: 400px;
  align-items: flex-start;
  flex-direction: column;
}
.alunos-image4 {
  width: 245px;
  height: 201px;
  object-fit: cover;
}
.alunos-legal {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.alunos-text32 {
  color: rgb(255, 255, 255);
  font-size: 14px;
  line-height: 21px;
}
.alunos-legal1 {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  display: none;
  align-items: flex-start;
  flex-direction: row;
}
.alunos-row {
  display: flex;
}
.alunos-copyright2 {
  color: rgb(255, 255, 255);
  font-size: 12px;
}
@media(max-width: 991px) {
  .alunos-hero {
    flex: 1;
    height: 0px;
  }
  .alunos-navbar {
    z-index: 1000;
  }
  .alunos-links {
    display: none;
  }
  .alunos-right {
    display: none;
  }
  .alunos-burger-menu {
    display: flex;
    padding: var(--dl-space-space-unit);
    border-radius: var(--dl-radius-radius-round);
    background-color: #2461FF;
  }
  .alunos-icon {
    fill: white;
  }
  .alunos-footer {
    gap: 100px;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
  }
  .alunos-left1 {
    padding-right: 0px;
  }
  .alunos-legal {
    display: none;
  }
  .alunos-legal1 {
    gap: var(--dl-space-space-twounits);
    display: flex;
    flex-direction: column;
  }
  .alunos-row {
    gap: var(--dl-space-space-oneandhalfunits);
  }
}
@media(max-width: 767px) {
  .alunos-navbar {
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
    padding-bottom: var(--dl-space-space-unit);
  }
  .alunos-burger-menu {
    display: flex;
  }
  .alunos-nav2 {
    display: none;
  }
  .alunos-btn-group {
    display: none;
  }
  .alunos-burger-menu1 {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .alunos-footer {
    padding-top: var(--dl-space-space-fourunits);
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
    padding-bottom: var(--dl-space-space-threeunits);
  }
  .alunos-image4 {
    width: 110px;
  }
  .alunos-text32 {
    font-size: 12px;
    line-height: 18px;
  }
}
@media(max-width: 479px) {
  .alunos-navbar {
    padding: var(--dl-space-space-unit);
  }
  .alunos-mobile-menu {
    padding: 16px;
  }
  .alunos-mobile-menu1 {
    padding: 16px;
  }
}
