.entrar-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  scroll-behavior: smooth;
}
.entrar-hero {
  width: 100%;
  height: 100vh;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
}
.entrar-navbar {
  width: 1154px;
  height: 155px;
  display: flex;
  z-index: 100;
  max-width: 1440px;
  align-items: center;
  padding-top: var(--dl-space-space-oneandhalfunits);
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  padding-bottom: var(--dl-space-space-oneandhalfunits);
  justify-content: space-between;
}
.entrar-left {
  gap: var(--dl-space-space-twounits);
  display: flex;
  align-items: center;
  justify-content: center;
}
.entrar-logo {
  width: 165px;
  object-fit: cover;
}
.entrar-links {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: center;
  justify-content: center;
}
.entrar-link {
  cursor: pointer;
  font-style: normal;
  transition: 0.3s;
  font-weight: 500;
  line-height: 24px;
  text-decoration: none;
}
.entrar-link:hover {
  opacity: 0.5;
}
.entrar-link1 {
  cursor: pointer;
  font-style: normal;
  transition: 0.3s;
  font-weight: 500;
  line-height: 24px;
  text-decoration: none;
}
.entrar-link1:hover {
  opacity: 0.5;
}
.entrar-link2 {
  cursor: pointer;
  font-style: normal;
  transition: 0.3s;
  font-weight: 500;
  line-height: 24px;
  text-decoration: none;
}
.entrar-link2:hover {
  opacity: 0.5;
}
.entrar-right {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.entrar-container1 {
  flex: 0 0 auto;
  width: auto;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: auto;
  display: flex;
  align-items: space-between;
  flex-direction: column;
}
.entrar-burger-menu {
  display: none;
  align-items: center;
  justify-content: center;
}
.entrar-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.entrar-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 1000;
  position: fixed;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.entrar-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.entrar-container2 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.entrar-image {
  height: 2rem;
}
.entrar-menu-close {
  display: flex;
  align-items: center;
  justify-content: center;
}
.entrar-icon2 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.entrar-nav1 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.entrar-text {
  margin-bottom: var(--dl-space-space-unit);
}
.entrar-text1 {
  margin-bottom: var(--dl-space-space-unit);
}
.entrar-text2 {
  margin-bottom: var(--dl-space-space-unit);
}
.entrar-text3 {
  margin-bottom: var(--dl-space-space-unit);
}
.entrar-book {
  text-decoration: none;
}
.entrar-image1 {
  width: 18px;
  object-fit: cover;
}
.entrar-text4 {
  font-family: Inter;
}
.entrar-main {
  flex: 1;
  width: 100%;
  display: flex;
  z-index: 100;
  max-width: 1440px;
  align-items: stretch;
  padding-left: var(--dl-space-space-fiveunits);
  flex-direction: row;
  justify-content: space-between;
}
.entrar-content {
  gap: var(--dl-space-space-threeunits);
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-oneandhalfunits);
  justify-content: center;
}
.entrar-heading {
  gap: var(--dl-space-space-unit);
  width: 476px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.entrar-header {
  width: 551px;
  height: 559px;
  font-size: 50px;
  max-width: 750px;
  font-style: normal;
  font-weight: 600;
  line-height: 74px;
  padding-right: 68px;
}
.entrar-container3 {
  width: 523px;
  height: 654px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.entrar-form {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.entrar-container4 {
  width: 100%;
  height: 59px;
  display: flex;
  align-items: center;
  border-color: rgba(120, 120, 120, 0);
  border-style: dashed;
  border-width: 2px;
  flex-direction: column;
  justify-content: center;
}
.entrar-container5 {
  width: 100%;
  height: 146px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.entrar-textinput {
  width: 369px;
}
.entrar-container6 {
  width: 100%;
  height: 149px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.entrar-textinput1 {
  width: 367px;
  height: 48px;
  align-self: center;
  text-align: center;
  transition: 0.3s;
  font-family: Noto Sans;
  border-color: rgba(180, 185, 185, 0.45);
  border-style: ridge;
  border-width: 0px;
  border-bottom-width: 2px;
}

.entrar-text5 {
  transition: 0.3s;
}

.entrar-features {
  width: 100%;
  height: 191px;
  display: flex;
  z-index: 100;
  align-items: center;
  padding-top: var(--dl-space-space-fiveunits);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-fiveunits);
  justify-content: center;
  background-color: #2461FF;
}
.entrar-content1 {
  gap: var(--dl-space-space-threeunits);
  flex: 1;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  max-width: 1440px;
  align-items: center;
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  flex-direction: row;
}
.entrar-background {
  right: 0px;
  width: 526px;
  bottom: 0px;
  height: 100%;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-end;
  background-color: rgba(208, 244, 253, 0);
}
.entrar-footer {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: 120px;
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-fiveunits);
  justify-content: space-between;
  background-color: #000000;
}
.entrar-left1 {
  gap: var(--dl-space-space-threeunits);
  display: flex;
  align-items: flex-start;
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
}
.entrar-brand {
  gap: var(--dl-space-space-unit);
  display: flex;
  max-width: 400px;
  align-items: flex-start;
  flex-direction: column;
}
.entrar-image2 {
  width: 245px;
  height: 201px;
  object-fit: cover;
}
.entrar-legal {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.entrar-text8 {
  color: rgb(255, 255, 255);
  font-size: 14px;
  line-height: 21px;
}
.entrar-legal1 {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  display: none;
  align-items: flex-start;
  flex-direction: row;
}
.entrar-row {
  display: flex;
}
.entrar-copyright2 {
  color: rgb(255, 255, 255);
  font-size: 12px;
}
@media(max-width: 991px) {
  .entrar-hero {
    flex: 1;
    height: 0px;
  }
  .entrar-navbar {
    z-index: 1000;
  }
  .entrar-links {
    display: none;
  }
  .entrar-right {
    display: none;
  }
  .entrar-burger-menu {
    display: flex;
    padding: var(--dl-space-space-unit);
    border-radius: var(--dl-radius-radius-round);
    background-color: #2461FF;
  }
  .entrar-icon {
    fill: white;
  }
  .entrar-main {
    flex-direction: column;
  }
  .entrar-content {
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .entrar-header {
    max-width: 75%;
  }
  .entrar-features {
    padding-top: var(--dl-space-space-fourunits);
    flex-direction: row;
    padding-bottom: var(--dl-space-space-fourunits);
  }
  .entrar-content1 {
    flex-direction: column;
  }
  .entrar-background {
    left: 0px;
    width: 100%;
    bottom: 0px;
    height: 55%;
    position: absolute;
    justify-content: flex-end;
  }
  .entrar-footer {
    gap: 100px;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
  }
  .entrar-left1 {
    padding-right: 0px;
  }
  .entrar-legal {
    display: none;
  }
  .entrar-legal1 {
    gap: var(--dl-space-space-twounits);
    display: flex;
    flex-direction: column;
  }
  .entrar-row {
    gap: var(--dl-space-space-oneandhalfunits);
  }
}
@media(max-width: 767px) {
  .entrar-navbar {
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
    padding-bottom: var(--dl-space-space-unit);
  }
  .entrar-burger-menu {
    display: flex;
  }
  .entrar-main {
    gap: var(--dl-space-space-threeunits);
    align-items: flex-end;
    padding-left: var(--dl-space-space-oneandhalfunits);
    justify-content: center;
  }
  .entrar-header {
    font-size: 32px;
    max-width: 70%;
    line-height: 38px;
  }
  .entrar-content1 {
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
  }
  .entrar-footer {
    padding-top: var(--dl-space-space-fourunits);
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
    padding-bottom: var(--dl-space-space-threeunits);
  }
  .entrar-image2 {
    width: 110px;
  }
  .entrar-text8 {
    font-size: 12px;
    line-height: 18px;
  }
}
@media(max-width: 479px) {
  .entrar-navbar {
    padding: var(--dl-space-space-unit);
  }
  .entrar-mobile-menu {
    padding: 16px;
  }
  .entrar-content {
    padding-right: var(--dl-space-space-oneandhalfunits);
  }
  .entrar-header {
    max-width: 80%;
  }
}
