.perfil-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  scroll-behavior: smooth;
}
.perfil-hero {
  width: 100%;
  height: 100vh;
  display: flex;
  position: relative;
  align-items: center;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  flex-direction: column;
}
.perfil-container01 {
  top: 214px;
  left: 0px;
  right: 0px;
  width: 860px;
  height: 741px;
  display: flex;
  position: absolute;
  margin-top: auto;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0px;
  margin-bottom: auto;
  flex-direction: column;
  justify-content: flex-start;
}
.perfil-container02 {
  width: 100%;
  height: 173px;
  display: flex;
  margin-top: var(--dl-space-space-threeunits);
  align-items: center;
  justify-content: flex-start;
}
.perfil-container03 {
  flex: 0 0 auto;
  width: 720px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.perfil-container04 {
  flex: 0 0 auto;
  width: 545px;
  height: 175px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}
.perfil-image {
  width: 143px;
  height: 177px;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  object-fit: cover;
  border-color: rgba(0, 0, 0, 0);
  border-width: 1px;
  border-radius: var(--dl-radius-radius-round);
  border-top-left-radius: var(--dl-radius-radius-radius4);
  border-top-right-radius: var(--dl-radius-radius-radius4);
  border-bottom-left-radius: var(--dl-radius-radius-radius4);
  border-bottom-right-radius: var(--dl-radius-radius-radius4);
}
.perfil-container05 {
  flex: 0 0 auto;
  width: 401px;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.perfil-container06 {
  flex: 0 0 auto;
  width: 100%;
  height: 567px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.perfil-container07 {
  flex: 0 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.perfil-form {
  width: 100%;
  height: 597px;
  display: flex;
  padding: 0px;
  align-items: flex-start;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: 0px;
  justify-content: center;
}
.perfil-container08 {
  flex: 0 0 auto;
  width: 797px;
  height: 508px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.perfil-container09 {
  width: 100%;
  height: 130px;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
  justify-content: center;
}
.perfil-textinput {
  width: 519px;
  height: 36px;
}
.perfil-container10 {
  width: 100%;
  height: 130px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.perfil-textinput1 {
  width: 526px;
  height: 36px;
}
.perfil-container11 {
  width: 100%;
  height: 121px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.perfil-textinput2 {
  width: 522px;
  height: 36px;
}
.perfil-container12 {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.perfil-navbar {
  width: 100%;
  display: flex;
  z-index: 100;
  max-width: 1440px;
  align-items: center;
  padding-top: var(--dl-space-space-oneandhalfunits);
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  padding-bottom: var(--dl-space-space-oneandhalfunits);
  justify-content: center;
}
.perfil-left {
  gap: var(--dl-space-space-twounits);
  display: flex;
  align-items: center;
  justify-content: center;
}
.perfil-links {
  gap: var(--dl-space-space-oneandhalfunits);
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
}
.perfil-right {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.perfil-burger-menu {
  display: none;
  align-items: center;
  justify-content: center;
}
.perfil-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.perfil-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 1000;
  position: fixed;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.perfil-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.perfil-container13 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.perfil-image1 {
  height: 2rem;
}
.perfil-menu-close {
  display: flex;
  align-items: center;
  justify-content: center;
}
.perfil-icon02 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.perfil-nav1 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.perfil-text01 {
  margin-bottom: var(--dl-space-space-unit);
}
.perfil-text02 {
  margin-bottom: var(--dl-space-space-unit);
}
.perfil-text03 {
  margin-bottom: var(--dl-space-space-unit);
}
.perfil-text04 {
  margin-bottom: var(--dl-space-space-unit);
}
.perfil-book {
  text-decoration: none;
}
.perfil-image2 {
  width: 18px;
  object-fit: cover;
}
.perfil-text05 {
  font-family: Inter;
}
.perfil-header {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.perfil-image3 {
  width: 128px;
  height: 117px;
}
.perfil-nav2 {
  display: flex;
}
.perfil-btn-group {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.perfil-login {
  border-width: 0px;
  margin-right: var(--dl-space-space-twounits);
}
.perfil-burger-menu1 {
  display: none;
}
.perfil-icon04 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.perfil-mobile-menu1 {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.perfil-nav3 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.perfil-container14 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.perfil-image4 {
  height: 2rem;
}
.perfil-menu-close1 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.perfil-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.perfil-icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.perfil-icon10 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.perfil-icon12 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.perfil-footer {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: 120px;
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-fiveunits);
  justify-content: space-between;
  background-color: #000000;
}
.perfil-left1 {
  gap: var(--dl-space-space-threeunits);
  display: flex;
  align-items: flex-start;
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
}
.perfil-brand {
  gap: var(--dl-space-space-unit);
  display: flex;
  max-width: 400px;
  align-items: flex-start;
  flex-direction: column;
}
.perfil-image5 {
  width: 245px;
  height: 201px;
  object-fit: cover;
}
.perfil-legal {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.perfil-text09 {
  color: rgb(255, 255, 255);
  font-size: 14px;
  line-height: 21px;
}
.perfil-legal1 {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  display: none;
  align-items: flex-start;
  flex-direction: row;
}
.perfil-row {
  display: flex;
}
.perfil-copyright2 {
  color: rgb(255, 255, 255);
  font-size: 12px;
}
@media(max-width: 991px) {
  .perfil-hero {
    flex: 1;
    height: 0px;
  }
  .perfil-navbar {
    z-index: 1000;
  }
  .perfil-links {
    display: none;
  }
  .perfil-right {
    display: none;
  }
  .perfil-burger-menu {
    display: flex;
    padding: var(--dl-space-space-unit);
    border-radius: var(--dl-radius-radius-round);
    background-color: #2461FF;
  }
  .perfil-icon {
    fill: white;
  }
  .perfil-footer {
    gap: 100px;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
  }
  .perfil-left1 {
    padding-right: 0px;
  }
  .perfil-legal {
    display: none;
  }
  .perfil-legal1 {
    gap: var(--dl-space-space-twounits);
    display: flex;
    flex-direction: column;
  }
  .perfil-row {
    gap: var(--dl-space-space-oneandhalfunits);
  }
}
@media(max-width: 767px) {
  .perfil-navbar {
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
    padding-bottom: var(--dl-space-space-unit);
  }
  .perfil-burger-menu {
    display: flex;
  }
  .perfil-header {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .perfil-nav2 {
    display: none;
  }
  .perfil-btn-group {
    display: none;
  }
  .perfil-burger-menu1 {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .perfil-footer {
    padding-top: var(--dl-space-space-fourunits);
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
    padding-bottom: var(--dl-space-space-threeunits);
  }
  .perfil-image5 {
    width: 110px;
  }
  .perfil-text09 {
    font-size: 12px;
    line-height: 18px;
  }
}
@media(max-width: 479px) {
  .perfil-navbar {
    padding: var(--dl-space-space-unit);
  }
  .perfil-mobile-menu {
    padding: 16px;
  }
  .perfil-header {
    padding: var(--dl-space-space-unit);
  }
  .perfil-mobile-menu1 {
    padding: 16px;
  }
}
