.planners-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  scroll-behavior: smooth;
}
.planners-hero {
  width: 100%;
  height: 100vh;
  display: flex;
  position: relative;
  align-items: center;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  flex-direction: column;
}
.planners-container1 {
  top: 214px;
  left: 0px;
  right: 0px;
  width: 860px;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 741px;
  display: flex;
  position: absolute;
  margin-top: auto;
  align-items: flex-start;
  margin-left: auto;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: dashed;
  border-width: 0px;
  margin-right: auto;
  padding-left: 0px;
  margin-bottom: auto;
  flex-direction: column;
  justify-content: flex-start;
}
.planners-navbar {
  width: 100%;
  display: flex;
  z-index: 100;
  max-width: 1440px;
  align-items: center;
  padding-top: var(--dl-space-space-oneandhalfunits);
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  padding-bottom: var(--dl-space-space-oneandhalfunits);
  justify-content: center;
}
.planners-left {
  gap: var(--dl-space-space-twounits);
  display: flex;
  align-items: center;
  justify-content: center;
}
.planners-links {
  gap: var(--dl-space-space-oneandhalfunits);
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
}
.planners-right {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.planners-burger-menu {
  display: none;
  align-items: center;
  justify-content: center;
}
.planners-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.planners-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 1000;
  position: fixed;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.planners-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.planners-container2 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.planners-image {
  height: 2rem;
}
.planners-menu-close {
  display: flex;
  align-items: center;
  justify-content: center;
}
.planners-icon02 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.planners-nav1 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.planners-text {
  margin-bottom: var(--dl-space-space-unit);
}
.planners-text1 {
  margin-bottom: var(--dl-space-space-unit);
}
.planners-text2 {
  margin-bottom: var(--dl-space-space-unit);
}
.planners-text3 {
  margin-bottom: var(--dl-space-space-unit);
}
.planners-book {
  text-decoration: none;
}
.planners-image1 {
  width: 18px;
  object-fit: cover;
}
.planners-text4 {
  font-family: Inter;
}
.planners-header {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.planners-image2 {
  width: 128px;
  height: 117px;
}
.planners-nav2 {
  display: flex;
}
.planners-btn-group {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.planners-login {
  border-width: 0px;
  margin-right: var(--dl-space-space-twounits);
}
.planners-burger-menu1 {
  display: none;
}
.planners-icon04 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.planners-mobile-menu1 {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.planners-nav3 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.planners-container3 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.planners-image3 {
  height: 2rem;
}
.planners-menu-close1 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.planners-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.planners-icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.planners-icon10 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.planners-icon12 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.planners-footer {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: 120px;
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-fiveunits);
  justify-content: space-between;
  background-color: #000000;
}
.planners-left1 {
  gap: var(--dl-space-space-threeunits);
  display: flex;
  align-items: flex-start;
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
}
.planners-brand {
  gap: var(--dl-space-space-unit);
  display: flex;
  max-width: 400px;
  align-items: flex-start;
  flex-direction: column;
}
.planners-image4 {
  width: 245px;
  height: 201px;
  object-fit: cover;
}
.planners-legal {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.planners-text8 {
  color: rgb(255, 255, 255);
  font-size: 14px;
  line-height: 21px;
}
.planners-legal1 {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  display: none;
  align-items: flex-start;
  flex-direction: row;
}
.planners-row {
  display: flex;
}
.planners-copyright2 {
  color: rgb(255, 255, 255);
  font-size: 12px;
}
@media(max-width: 991px) {
  .planners-hero {
    flex: 1;
    height: 0px;
  }
  .planners-navbar {
    z-index: 1000;
  }
  .planners-links {
    display: none;
  }
  .planners-right {
    display: none;
  }
  .planners-burger-menu {
    display: flex;
    padding: var(--dl-space-space-unit);
    border-radius: var(--dl-radius-radius-round);
    background-color: #2461FF;
  }
  .planners-icon {
    fill: white;
  }
  .planners-footer {
    gap: 100px;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
  }
  .planners-left1 {
    padding-right: 0px;
  }
  .planners-legal {
    display: none;
  }
  .planners-legal1 {
    gap: var(--dl-space-space-twounits);
    display: flex;
    flex-direction: column;
  }
  .planners-row {
    gap: var(--dl-space-space-oneandhalfunits);
  }
}
@media(max-width: 767px) {
  .planners-navbar {
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
    padding-bottom: var(--dl-space-space-unit);
  }
  .planners-burger-menu {
    display: flex;
  }
  .planners-header {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .planners-nav2 {
    display: none;
  }
  .planners-btn-group {
    display: none;
  }
  .planners-burger-menu1 {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .planners-footer {
    padding-top: var(--dl-space-space-fourunits);
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
    padding-bottom: var(--dl-space-space-threeunits);
  }
  .planners-image4 {
    width: 110px;
  }
  .planners-text8 {
    font-size: 12px;
    line-height: 18px;
  }
}
@media(max-width: 479px) {
  .planners-navbar {
    padding: var(--dl-space-space-unit);
  }
  .planners-mobile-menu {
    padding: 16px;
  }
  .planners-header {
    padding: var(--dl-space-space-unit);
  }
  .planners-mobile-menu1 {
    padding: 16px;
  }
}
