.turmas-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  scroll-behavior: smooth;
}
.turmas-modal {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  z-index: 200;
  position: fixed;
  align-items: center;
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  flex-direction: column;
  backdrop-filter: blur(4px);
  justify-content: center;
}
.turmas-practices {
  display: flex;
  padding: var(--dl-space-space-oneandhalfunits);
  box-shadow: 0px 0px 25px -2px rgba(66, 68, 90, 0.4);
  align-items: center;
  border-radius: 12px;
  flex-direction: column;
  justify-content: center;
  background-color: #ffffff;
}
.turmas-heading {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  padding-bottom: var(--dl-space-space-oneandhalfunits);
  justify-content: space-between;
}
.turmas-header {
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
}
.turmas-close {
  width: 24px;
  cursor: pointer;
  height: 24px;
  transition: 0.3s;
}
.turmas-close:hover {
  opacity: 0.5;
}
.turmas-grid {
  gap: var(--dl-space-space-threeunits);
  flex: 1;
  display: grid;
  align-items: flex-start;
  flex-direction: column;
  grid-template-columns: repeat(2, 1fr);
}
.turmas-section {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-threeunits);
  border-color: #B4B9C6;
  flex-direction: column;
  border-top-width: 1px;
}
.turmas-heading1 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.turmas-header1 {
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: 36px;
}
.turmas-caption {
  max-width: 385px;
  line-height: 24px;
}
.turmas-text {
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}
.turmas-image {
  width: 12px;
  object-fit: cover;
}
.turmas-section1 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-threeunits);
  border-color: #B4B9C6;
  flex-direction: column;
  border-top-width: 1px;
}
.turmas-heading2 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.turmas-header2 {
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: 36px;
}
.turmas-caption1 {
  max-width: 385px;
  line-height: 24px;
}
.turmas-text01 {
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}
.turmas-image01 {
  width: 12px;
  object-fit: cover;
}
.turmas-section2 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-threeunits);
  border-color: #B4B9C6;
  flex-direction: column;
  border-top-width: 1px;
}
.turmas-heading3 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.turmas-header3 {
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: 36px;
}
.turmas-caption2 {
  max-width: 385px;
  line-height: 24px;
}
.turmas-text02 {
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}
.turmas-image02 {
  width: 12px;
  object-fit: cover;
}
.turmas-section3 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-threeunits);
  border-color: #B4B9C6;
  flex-direction: column;
  border-top-width: 1px;
}
.turmas-heading4 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.turmas-header4 {
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: 36px;
}
.turmas-caption3 {
  max-width: 385px;
  line-height: 24px;
}
.turmas-text03 {
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}
.turmas-image03 {
  width: 12px;
  object-fit: cover;
}
.turmas-section4 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-threeunits);
  border-color: #B4B9C6;
  flex-direction: column;
  border-top-width: 1px;
}
.turmas-heading5 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.turmas-header5 {
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: 36px;
}
.turmas-caption4 {
  max-width: 385px;
  line-height: 24px;
}
.turmas-text04 {
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}
.turmas-image04 {
  width: 12px;
  object-fit: cover;
}
.turmas-section5 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-threeunits);
  border-color: #B4B9C6;
  flex-direction: column;
  border-top-width: 1px;
}
.turmas-heading6 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.turmas-header6 {
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: 36px;
}
.turmas-caption5 {
  max-width: 385px;
  line-height: 24px;
}
.turmas-text05 {
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}
.turmas-image05 {
  width: 12px;
  object-fit: cover;
}
.turmas-hero {
  width: 100%;
  height: 1018px;
  display: flex;
  position: relative;
  align-items: center;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  flex-direction: column;
}
.turmas-container01 {
  top: 214px;
  left: 0px;
  right: 0px;
  width: 860px;
  height: 741px;
  display: flex;
  position: absolute;
  margin-top: auto;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0px;
  margin-bottom: auto;
  flex-direction: row;
  justify-content: flex-start;
}
.turmas-container02 {
  width: 264px;
  height: 100%;
  display: flex;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  background-color: rgba(217, 217, 217, 0.29);
}
.turmas-container03 {
  width: 100%;
  height: 77px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.turmas-container04 {
  width: 100%;
  height: 698px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.turmas-container05 {
  width: 100%;
  height: 91px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.turmas-textinput {
  width: 238px;
  height: 40px;
  align-self: center;
  text-align: center;
  border-color: rgba(131, 127, 127, 0.43);
  border-style: ridge;
}
.turmas-container06 {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.turmas-container07 {
  width: 100%;
  height: 93px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.turmas-container08 {
  width: 100%;
  height: 33px;
  display: flex;
  align-items: center;
  padding-top: 0px;
  padding-left: 00px;
  padding-right: 00px;
  flex-direction: column;
  padding-bottom: 0px;
  justify-content: flex-start;
}
.turmas-text09 {
  font-size: 16px;
}
.turmas-container09 {
  width: 100%;
  height: 63px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.turmas-thq-dropdown {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.turmas-dropdown-toggle {
  fill: #595959;
  color: #595959;
  width: 241px;
  display: inline-flex;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  border-color: rgba(131, 127, 127, 0.43);
  border-width: 1px;
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius2);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
  justify-content: center;
}
.turmas-text10 {
  font-size: 16px;
  font-style: normal;
  text-align: center;
  font-weight: 500;
  margin-right: 4px;
  vertical-align: middle;
}
.turmas-dropdown-arrow {
  transition: 0.3s;
}
.turmas-icon01 {
  width: 18px;
  height: 18px;
  margin-top: auto;
  transition: 0.3s;
  margin-bottom: auto;
}
.turmas-dropdown-list {
  left: 0%;
  width: max-content;
  display: none;
  z-index: 100;
  position: absolute;
  min-width: 100%;
  transition: 0.3s;
  align-items: stretch;
  border-color: #D9D9D9;
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
  list-style-type: none;
  background-color: var(--dl-color-gray-white);
  list-style-position: inside;
}
.turmas-dropdown {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.turmas-dropdown-toggle1 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.turmas-dropdown-toggle1:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.turmas-text11 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.turmas-dropdown1 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.turmas-dropdown-toggle2 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.turmas-dropdown-toggle2:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.turmas-dropdown2 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.turmas-dropdown-toggle3 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.turmas-dropdown-toggle3:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.turmas-text12 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.turmas-dropdown3 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.turmas-dropdown-toggle4 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.turmas-dropdown-toggle4:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.turmas-text13 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.turmas-dropdown4 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.turmas-dropdown-toggle5 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.turmas-dropdown-toggle5:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.turmas-text14 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.turmas-container10 {
  width: 100%;
  height: 255px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.turmas-container11 {
  width: 100%;
  height: 30px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.turmas-text15 {
  font-size: 16px;
}
.turmas-container12 {
  width: 100%;
  height: 197px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.turmas-text16 {
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
}
.turmas-container14 {
  width: 100%;
  height: 30px;
  display: flex;
  flex-direction: row;
}
.turmas-text17 {
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
}
.turmas-container15 {
  width: 100%;
  height: 30px;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.turmas-text18 {
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
}
.turmas-container16 {
  width: 100%;
  height: 30px;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.turmas-text19 {
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
}
.turmas-container17 {
  width: 100%;
  height: 30px;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.turmas-text20 {
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
}
.turmas-container18 {
  width: 100%;
  height: 30px;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.turmas-text21 {
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
}
.turmas-container19 {
  width: 100%;
  height: 30px;
  display: flex;
  align-self: center;
  align-items: center;
}
.turmas-text22 {
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
}
.turmas-container20 {
  width: 100%;
  height: 30px;
  display: flex;
  align-self: center;
  align-items: center;
}
.turmas-text23 {
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
}
.turmas-container21 {
  width: 100%;
  height: 79px;
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: column;
}
.turmas-container22 {
  width: 100%;
  height: 30px;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-halfunit);
  flex-direction: column;
  justify-content: center;
}
.turmas-text24 {
  font-size: 16px;
}
.turmas-container23 {
  width: 100%;
  height: 38px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.turmas-select {
  width: 238px;
  height: 40px;
}
.turmas-container24 {
  width: 100%;
  height: 172px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.turmas-container25 {
  width: 100%;
  height: 104px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.turmas-container26 {
  width: 100%;
  height: 30px;
  display: flex;
  align-items: center;
  margin-bottom: 0px;
  flex-direction: column;
  justify-content: center;
}
.turmas-text25 {
  font-size: 16px;
}
.turmas-container27 {
  width: 244px;
  height: 50%;
  margin: 0px;
  display: flex;
  margin-top: var(--dl-space-space-halfunit);
  align-items: center;
  margin-left: var(--dl-space-space-halfunit);
  margin-right: var(--dl-space-space-halfunit);
  margin-bottom: var(--dl-space-space-halfunit);
  flex-direction: row;
  justify-content: center;
}
.turmas-container28 {
  width: 60px;
  height: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-halfunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-halfunit);
  justify-content: center;
}
.turmas-select1 {
  width: 100%;
  height: 100%;
  margin: 0px;
  margin-top: var(--dl-space-space-halfunit);
  margin-left: var(--dl-space-space-halfunit);
  margin-right: var(--dl-space-space-halfunit);
  margin-bottom: 0px;
}
.turmas-container29 {
  width: 100%;
  height: 64px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.turmas-container30 {
  width: 603px;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.turmas-container31 {
  width: 100%;
  height: 72px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.turmas-container32 {
  flex: 0 0 auto;
  width: 100%;
  height: 674px;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  border-color: rgba(120, 120, 120, 0);
  border-style: dashed;
  border-width: 2px;
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: center;
}
.turmas-thq-dropdown1 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.turmas-dropdown-list1 {
  left: 0%;
  width: max-content;
  display: none;
  z-index: 100;
  position: absolute;
  min-width: 100%;
  transition: 0.3s;
  align-items: stretch;
  border-color: #D9D9D9;
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
  list-style-type: none;
  background-color: var(--dl-color-gray-white);
  list-style-position: inside;
}
.turmas-dropdown5 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.turmas-dropdown-toggle6 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.turmas-dropdown-toggle6:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.turmas-text29 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.turmas-dropdown6 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.turmas-dropdown-toggle7 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.turmas-dropdown-toggle7:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.turmas-text30 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.turmas-dropdown7 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.turmas-dropdown-toggle8 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.turmas-dropdown-toggle8:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.turmas-text31 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.turmas-navbar {
  width: 100%;
  display: flex;
  z-index: 100;
  max-width: 1440px;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  padding-bottom: var(--dl-space-space-unit);
  justify-content: center;
}
.turmas-navbar-open {
  width: 100%;
  display: none;
  z-index: 100;
  max-width: 1440px;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  padding-bottom: var(--dl-space-space-unit);
  justify-content: center;
}

.turmas-left {
  gap: var(--dl-space-space-twounits);
  display: flex;
  align-items: center;
  justify-content: center;
}
.turmas-links {
  gap: var(--dl-space-space-oneandhalfunits);
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
}
.turmas-right {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.turmas-burger-menu {
  display: none;
  align-items: center;
  justify-content: center;
}
.turmas-icon03 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.turmas-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 1000;
  position: fixed;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.turmas-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.turmas-container33 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.turmas-image06 {
  height: 2rem;
}
.turmas-menu-close {
  display: flex;
  align-items: center;
  justify-content: center;
}
.turmas-icon05 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.turmas-nav1 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.turmas-text32 {
  margin-bottom: var(--dl-space-space-unit);
}
.turmas-text33 {
  margin-bottom: var(--dl-space-space-unit);
}
.turmas-text34 {
  margin-bottom: var(--dl-space-space-unit);
}
.turmas-text35 {
  margin-bottom: var(--dl-space-space-unit);
}
.turmas-book {
  text-decoration: none;
}
.turmas-image07 {
  width: 18px;
  object-fit: cover;
}
.turmas-text36 {
  font-family: Inter;
}
.turmas-image08 {
  width: 128px;
  height: 117px;
}
.turmas-nav2 {
  display: flex;
}
.turmas-btn-group {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.turmas-login {
  border-width: 0px;
  margin-right: var(--dl-space-space-twounits);
}
.turmas-burger-menu1 {
  display: none;
}
.turmas-icon07 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.turmas-mobile-menu1 {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.turmas-nav3 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.turmas-container34 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.turmas-image09 {
  height: 2rem;
}
.turmas-menu-close1 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.turmas-icon09 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.turmas-icon11 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.turmas-icon13 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.turmas-icon15 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.turmas-footer {
  width: 100%;
  height: 274px;
  display: flex;
  align-items: center;
  padding-top: 120px;
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-fiveunits);
  justify-content: space-between;
  background-color: #000000;
}
.turmas-left1 {
  gap: var(--dl-space-space-threeunits);
  display: flex;
  align-items: flex-start;
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
}
.turmas-brand {
  gap: var(--dl-space-space-unit);
  display: flex;
  max-width: 400px;
  align-items: flex-start;
  flex-direction: column;
}
.turmas-image10 {
  width: 245px;
  height: 201px;
  object-fit: cover;
}
.turmas-legal {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.turmas-text40 {
  color: rgb(255, 255, 255);
  font-size: 14px;
  line-height: 21px;
}
.turmas-legal1 {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  display: none;
  align-items: flex-start;
  flex-direction: row;
}
.turmas-row {
  display: flex;
}
.turmas-copyright2 {
  color: rgb(255, 255, 255);
  font-size: 12px;
}
@media(max-width: 991px) {
  .turmas-hero {
    flex: 1;
    height: 0px;
  }
  .turmas-navbar {
    z-index: 1000;
  }
  .turmas-links {
    display: none;
  }
  .turmas-right {
    display: none;
  }
  .turmas-burger-menu {
    display: flex;
    padding: var(--dl-space-space-unit);
    border-radius: var(--dl-radius-radius-round);
    background-color: #2461FF;
  }
  .turmas-icon03 {
    fill: white;
  }
  .turmas-footer {
    gap: 100px;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
  }
  .turmas-left1 {
    padding-right: 0px;
  }
  .turmas-legal {
    display: none;
  }
  .turmas-legal1 {
    gap: var(--dl-space-space-twounits);
    display: flex;
    flex-direction: column;
  }
  .turmas-row {
    gap: var(--dl-space-space-oneandhalfunits);
  }
}
@media(max-width: 767px) {
  .turmas-navbar {
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
    padding-bottom: var(--dl-space-space-unit);
  }
  .turmas-burger-menu {
    display: flex;
  }
  .turmas-nav2 {
    display: none;
  }
  .turmas-btn-group {
    display: none;
  }
  .turmas-burger-menu1 {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .turmas-footer {
    padding-top: var(--dl-space-space-fourunits);
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
    padding-bottom: var(--dl-space-space-threeunits);
  }
  .turmas-image10 {
    width: 110px;
  }
  .turmas-text40 {
    font-size: 12px;
    line-height: 18px;
  }
}
@media(max-width: 479px) {
  .turmas-navbar {
    padding: var(--dl-space-space-unit);
  }
  .turmas-mobile-menu {
    padding: 16px;
  }
  .turmas-mobile-menu1 {
    padding: 16px;
  }
}
